@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');

* {
	box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

p, ul {
	font-size: 1em;
	hyphens: none;
	text-align: justify;
}
.note {
	overflow-x: hidden;
	width: 100%;
	margin: 0px auto;
	padding: 1em;
			
			}
.section-title {
text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
	padding-top: 20px;
  position: relative;
}

.section-title:after {
  background: #fff400;
  border-radius: 1px;
  display: block;
  content: "";
  height: 3px;
  position: absolute;
  bottom: 10;
  left: 50%;
  margin-left: -50px;
  width: 60px;
}

h1 {
	font-family: 'Poppins', sans-serif;
	color: #0073bf;
	font-size: 1.6em;
	font-weight: 600;
	line-height: 1.3em;
	margin-bottom: .8em
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.3em;
	font-weight: 600;
	line-height: 1em;
	margin-bottom: .6em;
	color: #0073bf
}

h3 {
	font-family: 'Poppins', sans-serif;
	color: #333;
	font-size: 1.15em;
	font-weight: 600;
	line-height: 1em;
	margin-bottom: .5em
}

h4 {
	
	font-family: 'Poppins', sans-serif;
	color: #333;
	font-size: 1.1em;
	font-weight: 600;
	line-height: 1em;
	margin-bottom: .5em

}


/* STYLE FOR TIMELINE */
* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 350px;
	left: 20px;
  margin: 10 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline:after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #0073bb;
  top: 0;
  bottom: 0;
  left: 30%;
  margin-left: 22px;
}

/* Container around content */
.container {
  max-width: 320px;
 padding: 10px;
  position: relative;
  background-color: inherit;
}

/* The circles on the timeline */
.container:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0px;
  background-color: #0073bf;
  top: 30%;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 2%;
}


/* Add arrows to the right container (pointing left) */
.right:before {
  content: " ";
  height: 0;
  position: absolute;
  top: 30%;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent whitesmoke transparent transparent;
}


/* The actual content */
.content {
  padding: 20px 20px 10px 20px;
  background-color: whitesmoke;
  position: relative;
  border-radius: 6px;
  left: 12px;
}


/* IMPORTANT */



.footer {
	margin: 0px auto;
	padding: 3em;
	position: relative;
   	left: 0;
	bottom: 0;
	max-width: 400px;
	width: 100%;
	background-color: #fff400;
   	color: ;
   	text-align: center;

}

h3 {
	color: #0073bf;
	padding-bottom: 0.8em;
	font-size: 1.4em
}

stone {
	color: #0073bf;
	padding-bottom: 1em;
	font-size: 1.4em
}


.year--no {
	position:relative; 
	left: -17px;
	z-index: 1;
	color: white; 
	top: -12px; 
	font-size: 1.2em; 
	font-weight: 500;
}

.divider {
	padding-top: 60px;
}

span.date {
	font-size: 0.8em; 
	float: left; 
	position: absolute; 
	left:-53px;
	vertical-align: middle;
}

.year {
	padding: 2rem 2rem;
	color: red;
	background-color: #0073bf;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	position:relative;
	float: left;
	left: 5%;	
}


.page-wrap {
    overflow-x: hidden;
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 280px) and (max-width: 1440px) {
	
	
	.page-wrap {
		width: 350px;
		overflow-x: scroll;
	}
  /* Place the timelime to the left */
  .timeline:after {
  left: 0%;
  }
  
	p, li{
		font-size: 0.9em;
	}
  /* Full-width containers */
  .container {
  max-width: 300px;
  padding-left: 0px;
  padding-right: 20px;
  }

/* Make sure all circles are at the same spot */
  .left:after, .right:after {
  left: -3%;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container:before {
  left: 5px;
  border: medium solid grey;
  border-width: 10px 10px 10px 0;
  border-color: transparent whitesmoke transparent transparent;
  }

	
	
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
	
	.year {
	padding: 2rem 2rem;
	color: red;
	background-color: #0073bf;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	position:relative;
	float: left;
	left: -2%;	
}
	
} 



